@font-face {
  font-family: 'head';
  src:
    url("~static/font/head.ttf") format("ttf"),
    url("~static/font/head.woff") format("woff");
  font-weight: normal;
  font-size: 35px;
}

$color-main: #5f7f9e;
$color-main-gradient: linear-gradient(100deg, rgba(236,213,203,1) -60%, rgba(95,127,158,1) 130%);

$color-background: white;
$color-background-frame: rgb(236, 213, 203);

$color-button: #dddcdc;

$color-additional-light: rgb(226, 160, 174);
$color-additional-dark: rgb(97, 55, 65);